section.cta-16{
    background: $primary-color-3;
    padding: 2rem 0;
    .flex-column-to-row{
      flex-direction: column-reverse;
    }
    .cta-heading{
      font-size: 2rem;
    }
    .cta-heading{
      margin: 0 0 1rem;
    }
    .cta-description-text{
      margin: 0 0 2rem;
    }
    .cta-feature-image,
    .cta-feature-content{
      flex: 1;
    }
    .cta-feature-content{
      padding: 1rem;
      display: flex;
      flex-wrap: wrap;
    }
    .feature-wrapper{
      margin: 0 1% 2% ;
      flex: 0 48%;
      padding: 1rem;
    }
    .active{
      border: 2px solid $primary-color-2;
    }
    .feature-heading{
      font-size: 1.25rem;
      margin: 0 0 .5rem;
    }
    .line-break{
      height: 2px;
      width: 100%;
      background: $primary-color-2;
      margin: 1rem 0 2rem;
    }
    .cta-button-wrapper{
      margin: 0 0 1rem;
      width: 100%;
    }
    .action-link{
      margin: 0  0 0 2rem;
      color: $primary-color-2;
    } 
    @media (min-width: $tablet){
      .flex-column-to-row{
        flex-direction: row-reverse;
      }
      .cta-feature-image,
      .cta-feature-content{
        margin: 0;
        
      }
      .cta-feature-content{
        padding: 0 8vw;
      }
    }
    @media (min-width: $desktop){
        
    }
    @media (min-width: $oversized-desktop){
        
    }
}