section.cta-06{
    padding: 2rem 1rem;
      .flex-column-to-row{
        margin: 0 auto;
      }
      .cta-heading{
        margin: 0 0 1rem;
      }
      .cta-button-wrapper{
        margin: 2rem 0;
      }
      .filled-button-dark-fixed,
      .unfilled-button-fixed{
        max-width: 100%;
        width: 49%;
      }
    @media (min-width: $tablet){
      .cta-heading,
      .cta-description-text,
      .cta-button-wrapper{
        margin: 1rem 2rem 0;
      }
      .cta-content-wrapper{
        flex: 2;
      }
      .cta-button-wrapper{
        align-self: center;
        flex: 1;
      }
    }  
    @media (min-width: $desktop){
        
    }
    @media (min-width: $oversized-desktop){
        
    }
}