section.cta-03{
    background: $primary-color-3;
    padding: 2rem 1rem;
      .flex-column-to-row{
        margin: 0 auto;
      }
      .cta-heading{
        font-size: 1.5rem;
        margin: 0 0 1rem;
      }
      .filled-button-dark-fixed{
        margin: 1rem 0 3rem;
      }
    @media (min-width: $tablet){
      .flex-column-to-row{
      }
      .cta-heading,
      .cta-description-text,
      .filled-button-dark-fixed{
        margin: 1rem 2rem;
      }
    }  
    @media (min-width: $desktop){
        
    }
    @media (min-width: $oversized-desktop){
        
    }
}