section.cta-05{
    padding: 2rem 1rem;
      .flex-column-to-row{
        margin: 0 auto;
      }
      .cta-heading{
        margin: 0 0 1rem;
      }
      .filled-button-dark-fixed{
        margin: 2rem 0;
      }
      .line-break{
        height: 2px;
        width: 100%;
        background: $primary-color-2;
        margin: 1rem 0 2rem;
      }
    @media (min-width: $tablet){
      .line-break{
        min-height:20px;
        height: auto;
        width: 4px;
        margin: 0 4rem;
      }
      .cta-heading,
      .cta-description-text,
      .filled-button-dark-fixed{
        margin: 1rem 4rem;
      }
    }  
    @media (min-width: $desktop){
        
    }
    @media (min-width: $oversized-desktop){
        
    }
}