section.cta-30{
    padding: 2rem 1rem 0;
    .flex-column-to-row{
      
    }
    .cta-feature-content{
      text-align: center;
    }
    .cta-heading{
      margin: 1rem 0;
    }
    .cta-button-wrapper{
      margin: 3rem 0;
    }
    .filled-button-dark-fixed,
    .unfilled-button-fixed{
      width: 100%;
      max-width: 100%;
      margin: 0 0 1rem;
    }

    @media (min-width: $tablet){
      .flex-column-to-row{
        flex-direction: row-reverse;
        padding: 0 6vw;
      }
      .filled-button-dark-fixed,
      .unfilled-button-fixed{
        width: 100%;
        max-width: 150px;
        margin: 0 1rem 0 0;
      }
      .cta-feature-content{
        max-width: 750px;
        align-self: center;
      }
    }
    @media (min-width: $desktop){
        
    }
    @media (min-width: $oversized-desktop){
        
    }
}