html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Lato", sans-serif;
  color: #333333;
}

a {
  text-decoration: none;
  color: #F1F1F1;
}

.max-width {
  margin: 0 auto;
  max-width: 1440px;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-column-to-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .flex-column-to-row {
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
  }
}

.flex-row-to-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
      -ms-flex-direction: unset;
          flex-direction: unset;
}

@media (min-width: 768px) {
  .flex-row-to-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.flex-1-12 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex-2-12 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.flex-3-12 {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.flex-4-12 {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.flex-5-12 {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.flex-6-12 {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

.flex-7-12 {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
}

.flex-8-12 {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
}

.flex-9-12 {
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
}

.flex-10-12 {
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
}

.flex-11-12 {
  -webkit-box-flex: 11;
      -ms-flex: 11;
          flex: 11;
}

.flex-12-12 {
  -webkit-box-flex: 12;
      -ms-flex: 12;
          flex: 12;
}

.flip-vertical {
  display: inline;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

span {
  display: block;
}

.filled-button {
  display: inline-block;
  background: #F1F1F1;
  color: #333333;
  text-decoration: none;
  padding: 1rem 3rem;
}

.header {
  background: #EA5948;
  width: 100%;
  position: fixed;
}

.header ul {
  list-style: none;
  overflow: hidden;
}

.header li a {
  color: #F1F1F1;
  display: block;
  padding: .5rem 1rem;
  text-decoration: none;
  font-size: 15vw;
}

.header .logo {
  display: block;
  padding: 10px 20px;
}

.header .menu {
  max-height: 0;
  height: 100vh;
  /*transition: max-height .2s ease-out;*/
}

.header .menu-icon {
  cursor: pointer;
  float: left;
  padding: 28px 20px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header .menu-icon .navicon {
  background: #F1F1F1;
  display: block;
  height: 2px;
  position: relative;
  -webkit-transition: background .2s ease-out;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before, .header .menu-icon .navicon:after {
  background: #F1F1F1;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon :before {
  top: 5px;
}

.header .menu-icon :after {
  top: -5px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 100%;
  clear: both;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 768px) {
  .header {
    height: auto;
  }
  .header li {
    float: right;
  }
  .header li a {
    font-size: 1.25rem;
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
    height: auto;
  }
  .header .menu-icon {
    display: none;
  }
  .header .logo {
    float: left;
  }
}

.header .max-width-header {
  max-width: 1440px;
  margin: 0 auto;
}

section.hero-4 .hero-content-wrapper {
  max-width: 100%;
  min-height: 100%;
}

section.hero-4 .hero-content-wrapper .hero-content-container {
  padding: 2rem;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.hero-4 .hero-content-wrapper .tagline {
  text-transform: uppercase;
}

section.hero-4 .hero-content-wrapper h1, section.hero-4 .hero-content-wrapper .tagline, section.hero-4 .hero-content-wrapper .sub-heading {
  padding: 1rem;
}

section.hero-4 .hero-content-wrapper h1 {
  font-size: 2rem;
}

section.hero-4 .hero-content-wrapper .bg-1 {
  color: #333333;
  background: #F1F1F1;
}

section.hero-4 .hero-content-wrapper .bg-2 {
  color: #F1F1F1;
  background: #333333;
}

@media (min-width: 768px) {
  section.hero-4 .hero-content-wrapper {
    height: 100vh;
  }
  section.hero-4 .hero-content-wrapper .flex-column {
    max-width: 75%;
    margin: 0 auto;
  }
  section.hero-4 .hero-content-wrapper h1 {
    font-size: 3rem;
  }
  section.hero-4 .hero-content-wrapper .sub-heading {
    font-size: 1.5rem;
    max-width: 70%;
  }
}

section.hero-7 .flex-2-12 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

section.hero-7 .hero-content-wrapper {
  max-width: 100%;
  min-height: 100%;
}

section.hero-7 .hero-content-wrapper .hero-content-container {
  padding: 1rem;
  min-height: 400px;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.hero-7 .hero-content-wrapper .video-blurb {
  padding: 1rem;
}

section.hero-7 .hero-content-wrapper h1, section.hero-7 .hero-content-wrapper .tagline, section.hero-7 .hero-content-wrapper .sub-heading {
  padding: 1rem;
}

section.hero-7 .hero-content-wrapper .bg-1 {
  color: #333333;
  background: #F1F1F1;
}

section.hero-7 .hero-content-wrapper .bg-2 {
  color: #F1F1F1;
  background: #333333;
}

section.hero-7 .hero-content-wrapper .bg-3 {
  color: #F1F1F1;
  background: #EA5948;
}

@media (min-width: 768px) {
  section.hero-7 .hero-content-wrapper {
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  section.hero-7 .hero-content-wrapper .flex-2-12 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  section.hero-7 .hero-content-wrapper .flex-5-12 {
    width: 30%;
  }
  section.hero-7 .hero-content-wrapper .div-1 {
    width: 70%;
  }
  section.hero-7 .hero-content-wrapper .div-2 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  section.hero-7 .hero-content-wrapper .div-3 {
    width: 70%;
  }
}

section.hero-11 {
  background: #EA5948;
}

section.hero-11 .hero-content-wrapper .tagline {
  text-transform: uppercase;
}

section.hero-11 .hero-content-wrapper h1 {
  font-size: 3rem;
}

section.hero-11 .hero-content-wrapper h1, section.hero-11 .hero-content-wrapper span, section.hero-11 .hero-content-wrapper .action-link {
  margin: 1rem;
}

section.hero-11 .hero-content-wrapper .tagline {
  display: none;
}

section.hero-11 .hero-content-wrapper .previous-arrow,
section.hero-11 .hero-content-wrapper .next-arrow {
  display: inline-block;
  color: #EA5948;
  background: #333333;
  padding: .25rem 1rem;
  font-size: 1.5rem;
}

section.hero-11 .hero-content-wrapper .hero-blurb-text {
  font-size: 1.25rem;
}

section.hero-11 .hero-content-wrapper .flex-column-to-row, section.hero-11 .hero-content-wrapper .flex-row {
  height: 50%;
}

section.hero-11 .hero-content-wrapper .social-icons-wrapper {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

section.hero-11 .hero-content-wrapper .social-icons {
  text-align: right;
}

section.hero-11 .hero-content-wrapper .counter-active {
  margin: 0;
  display: inline-block;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  section.hero-11 .hero-content-wrapper {
    height: 100vh;
  }
  section.hero-11 .hero-content-wrapper .hero-heading-align,
  section.hero-11 .hero-content-wrapper .hero-content-align {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  section.hero-11 .hero-content-wrapper .tagline {
    display: block;
  }
  section.hero-11 .hero-content-wrapper .flex-5-12 {
    margin: 0 0 0 5rem;
  }
  section.hero-11 .hero-content-wrapper .hero-blurb-text {
    max-width: 60%;
  }
  section.hero-11 .hero-content-wrapper .counter {
    position: absolute;
    bottom: 0;
  }
}

section.hero-12 {
  background: #EA5948;
}

section.hero-12 .hero-content-wrapper h1 {
  font-size: 3rem;
}

section.hero-12 .hero-content-wrapper .hero-headline-wrapper {
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: right;
}

section.hero-12 .hero-content-wrapper h1, section.hero-12 .hero-content-wrapper span, section.hero-12 .hero-content-wrapper .filled-button {
  margin: 2rem;
}

section.hero-12 .hero-content-wrapper .flex-row {
  height: 50%;
}

section.hero-12 .hero-content-wrapper .social-icons {
  display: none;
}

section.hero-12 .hero-content-wrapper .min-height {
  min-height: 200px;
}

section.hero-12 .hero-content-wrapper .counter-align {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

section.hero-12 .hero-content-wrapper .counter-active {
  margin: 0;
  display: inline-block;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  section.hero-12 .hero-content-wrapper {
    height: 100vh;
  }
  section.hero-12 .hero-content-wrapper .hero-headline-wrapper {
    max-width: 700px;
  }
  section.hero-12 .hero-content-wrapper .social-icons {
    display: block;
    float: right;
  }
}

section.hero-13 {
  background: #EA5948;
}

section.hero-13 .hero-content-wrapper {
  height: 100%;
  padding: 1rem;
}

section.hero-13 .flex-column-to-row {
  height: 100%;
  min-height: 400px;
}

section.hero-13 .tagline {
  display: inline-block;
  padding: 1rem;
  background: #F1F1F1;
  color: #333333;
}

section.hero-13 h1 {
  font-size: 3rem;
  margin: 1rem 0;
}

section.hero-13 .hero-blurb-text {
  margin: 1rem 0;
}

section.hero-13 .social-icons {
  float: left;
}

section.hero-13 form {
  margin: 4rem 0 1rem;
}

section.hero-13 input {
  border: 0;
  padding: 1rem;
  margin: .25rem 0;
  width: 300px;
}

@media (min-width: 768px) {
  section.hero-13 {
    height: 100vh;
  }
  section.hero-13 .flex-1-12 {
    -ms-flex-item-align: end;
        align-self: flex-end;
    float: right;
  }
  section.hero-13 .hero-heading-align {
    max-width: 600px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0 0 0 10rem;
  }
  section.hero-13 .social-icons {
    display: inline;
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    float: right;
    margin: 10rem 2rem;
  }
  section.hero-13 form {
    position: absolute;
    bottom: 0;
    margin: 0 0 10rem;
  }
}

section.hero-14 {
  background: #EA5948;
  color: #F1F1F1;
  padding: 1rem;
  min-height: 400px;
}

section.hero-14 .hero-content-wrapper {
  height: 60%;
  margin: 0 0 4rem;
}

section.hero-14 .bottom-hero-content-wrapper {
  height: 40%;
}

section.hero-14 .flex-column {
  height: 100%;
}

section.hero-14 .flex-12-12 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

section.hero-14 .flex-5-12 {
  margin: 0 1rem 0 0;
}

section.hero-14 .tagline {
  display: inline-block;
}

section.hero-14 .video-subtitle {
  margin: 1rem 0 0;
}

section.hero-14 .hero-blurb-text {
  max-width: 500px;
  font-size: 1.5rem;
}

section.hero-14 h1:before {
  content: '';
  width: 20%;
  border-top: .5rem solid;
  display: block;
}

section.hero-14 h1 {
  font-size: 13vw;
  margin: 1rem 0;
}

section.hero-14 .hero-blurb-text {
  margin: 1rem 0;
}

section.hero-14 .video-wrapper {
  max-width: 200px;
  display: inline-block;
}

section.hero-14 .video-wrapper:nth-child(2) {
  display: none;
}

section.hero-14 .video-placeholder {
  width: 100%;
  height: 120px;
  background: #333333;
}

@media (min-width: 768px) {
  section.hero-14 {
    height: 100vh;
  }
  section.hero-14 .video-wrapper:nth-child(2) {
    display: inline-block;
  }
  section.hero-14 .video-wrapper {
    padding: 0 1rem;
  }
}

@media (min-width: 992px) {
  section.hero-14 {
    padding: 4rem;
  }
  section.hero-14 .video-wrapper {
    max-width: 240px;
  }
}

@media (min-width: 1440px) {
  section.hero-14 {
    padding: 8rem;
  }
}
/*# sourceMappingURL=main.css.map */