section.features-02{
  padding: 2rem 1rem;
  .flex-column{
    margin: 0 auto;
  }
  .heading-text{
    font-weight: bold;
    margin-bottom: 2.5rem;
  }
  .section-text{
    margin: 0 auto 4rem;
  }
  span,
  .material-icons{
    display: block;
    text-align: center;
  }

  .flex-column-to-row{
    margin: 0 auto;
    span{
      margin: 1rem 0;
    }
  }

  @media (min-width: $tablet){   
    .flex-column-to-row{
      margin: 0 auto;
      span{
        margin: 0 1.5rem;
      }
    }
  }  
  @media (min-width: $desktop){   
    }
  @media (min-width: $oversized-desktop){   
    }
}