section.features-11{
  padding: 2rem 1rem;
  .flex-column-to-row{
    margin: 0 auto;
    max-width: 1200px;
    text-align: left;
    flex-wrap: wrap;
  }
  .l-font-size{
    padding: 2rem;
    text-align: center;
    width: 100%;
  }
  .flex-item{
    background: $primary-color-2;
    color: $primary-color-3;
    margin: .45rem;
    padding: 1rem;
    flex: 0 48%;
  }
  .action-link{
    margin: 1.25rem 0 0;
  }
  li{
    list-style: none;
    margin: 1rem 0 1.5rem 3rem;
  }
  .checkmark li:before {
    content: "done"; /* FontAwesome Unicode */
    font-family: Material Icons;
    display: inline-block;
    font-size: 2rem;
    margin-left: -3rem; /* same as padding-left set on li */
    width: 3rem; /* same as padding-left set on li */  
    vertical-align: top;
  }

  .close li:before {
    content: "close"; /* FontAwesome Unicode */
    font-family: Material Icons;
    display: inline-block;
    font-size: 2rem;
    margin-left: -3rem; /* same as padding-left set on li */
    width: 3rem; /* same as padding-left set on li */  
    vertical-align: top;
  }

  @media (min-width: $tablet){  
    .flex-item{
      padding: 4rem;
    }  
  }  
  @media (min-width: $desktop){   
  }
  @media (min-width: $oversized-desktop){   
  }
}