section.hero-02{
    background: $primary-color-1;
    color: $primary-color-3;
    height: 100%;
    overflow-y: hidden;
    .hero-content-wrapper{
        
      }
      .empty-container{
          background: $primary-color-3;
          min-height: 400px;
          width: 100%;
      }
      .review-wrapper{
        background: $primary-color-2;
        color: $primary-color-3;
        .material-icons{
            background: $primary-color-2;
            border-radius: 50%;
            margin: -2rem 0 0 .5rem;
            padding: .5rem;
            font-size: 2rem;
            color: $primary-color-3;
            margin: -1rem 0 0;
        }
      }
      .review-wrapper-flexbox {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;    
        margin: -2rem 0 0 1rem;  
        .review-wrapper {
            background: $primary-color-2;
            color: $primary-color-3;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
            margin-right: 3px;
            max-width: 70%;
            margin: 0 1rem 0 0;
            width: 100%;
            padding: 2rem;
        }
      }
      .review-wrapper-flexbox {
        -webkit-overflow-scrolling: touch;
        &::-webkit-scrollbar {
          display: none;
        }
      }
        @media (min-width: $tablet){
        
        }  
        @media (min-width: $desktop){
          
        }
        @media (min-width: $oversized-desktop){
          
        }
  }