section.hero-10{
    background: $primary-color-2;
    color: $primary-color-3;
    height: 100vh;
    span{
      display: block;
    }
    .hero-content-wrapper{
      background: $primary-color-1;
      overflow: hidden;
      position: absolute;
      bottom: 0;
      right: 0;
      height: calc(100vh - 50px);
      width: calc(100vw - 50px);
      .tracking{
        position: absolute;
        bottom: 10vh;
          li{
            margin: 0 2rem 0 0;
            display: inline-block;
            font-size: 1.5rem;
          }
      }
      .hero-content-container{
          width: 90%;
      }
      .sub-heading{
        margin: 4rem 0 0;
        font-size: calc(1rem + 1vw);
      }
      h1 { font-size: calc(2.5rem + 1vw); }
      .flex-12-12{
        margin: 10vw 0 0 10vw;
        align-self: center;
      }
      @media (min-width: $tablet){
          height: calc(100vh - 100px);
          width: calc(100vw - 100px);
        .tracking{
          right: 0;
            li{
              margin: 0 2rem 2rem 0;
              display: block;
              &:last-child{
                margin-bottom: 0;
              }
            }
          }
        .sub-heading{
          margin: 0;
        }
        
        .flex-12-12{
          align-self: flex-end;
          padding: 0 0 10vh;
        }
      }
      @media (min-width: $desktop){
          height:calc(100vh - 150px);
          width: calc(100vw - 150px);
      }
      @media (min-width: $oversized-desktop){
        height:calc(100vh - 200px);
        width: calc(100vw - 200px);
      }
    }
  }