section.hero-11{
  background: $primary-color-1;
  .hero-content-wrapper{
    overflow-y: hidden;
    padding: 1rem;
      .tagline{
        text-transform: uppercase;
      }
      h1{
        font-size: 3rem;
      }
      .tagline{
        display: none;
      }
      .previous-arrow,
      .next-arrow{
        display: inline-block;
        color: $primary-color-1;
        background: $primary-color-2;
        padding: .5rem 1.5rem;
        font-size: 1.5rem;
        margin: 1rem 0 0 1rem;
      }
      .hero-blurb-text{
        font-size: 1.25rem;
      }
      .flex-column-to-row, .flex-row{
        height: 50%;
      }
      .social-icons-wrapper{
        align-self: flex-end;
      }
      .social-icons{
        text-align: right;
      }
      .counter-active{
        margin: 0;
        display: inline-block;
        font-size: 1.5rem;
      }
      @media (min-width: $tablet){
        height: 100vh;
        h1{
          max-width: 80%;
        }
        .hero-heading-align{
          align-self: flex-end;
        }
        .hero-content-align{
          align-self: center;
        }
        .tagline{
          display: block;
        }
        .flex-5-12{
          margin: 0 0 0 5rem;
        }
        .hero-blurb-text{
          max-width: 60%;
        }
        .counter{
          position: absolute;
          bottom: 0;
          margin-bottom: 5rem;
        }
        .social-icons{
          margin: 0 5rem 5rem 0;
        }
      }
      @media (min-width: $desktop){
        h1{
          font-size: 4rem;
        }
      }
  }
}