section.hero-7{
  .flex-2-12{ order: 3; }
  .hero-content-wrapper{
    max-width: 100%;
    min-height: 100vh;
    height: 100%;
    span{
      display: block;
    }
      .hero-content-container{
        overflow-y: hidden;
        padding: 1rem;
        min-height: 400px;
        height: 100%;
        justify-content: center;
      }
      .video-blurb{
        padding: 1rem;
      }
      h1{
        font-size: 3rem;
      }
      .sub-heading{
        font-size: 1.5rem;
        margin: 1.5rem 0;
      }
      
      .bg-1{
        color: $primary-color-2;
        background: $primary-color-3;
      }
      .bg-2{
        color: $primary-color-3;
        background: $primary-color-2;
      }
      .bg-3{
        color: $primary-color-3;
        background: $primary-color-1;
      }
      .video-placeholder{
        width: 120px;
        height: 80px;
        background: $primary-color-2;
      }
      .material-icons{
        color: $primary-color-3;
        font-size: 3rem;
        margin: 1rem 2rem;
      }
      @media (min-width: $tablet){
        height: 100vh;
        flex-direction: column;
        flex-wrap: wrap;
        .flex-2-12{ order:2; }
        .flex-5-12{ width: 50%; }
        .div-1{width: 50%}
        .div-2{ order: 3; flex: 0 0 100%; }
        .div-3{width: 50%;}
        .hero-content-container,
        .video-blurb{
          margin: 0 auto;
          max-width: 500px;
        }
      }
  }
}