section.hero-10{
    background: $primary-color-2;
    height: 100vh;
  .hero-content-wrapper{
    max-width: 90%;
    min-height: 100%;
    float: right;
    background: $primary-color-1;
      .hero-content-container{
        padding: 2rem;
        justify-content: center;
      }
      h1, .tagline{
        padding: 1rem;
      }
      .sub-heading{
        padding: 0 1rem;
      }
      h1{
        font-size: 2rem;
      }
      ul{
        padding: 0 2rem;
      }
      li{
        display: inline-block;
        margin: 0 1rem;
      }
      @media (min-width: $tablet){
        height: 100vh;
        li{
          display: inline-block;
        }
        .hero-content-container{
          height: 90%;
      }
    }
  }
}