section.hero-13{
  background: $primary-color-1;
    .hero-content-wrapper{
      height: 100%;
      padding: 1rem;
    }
      .flex-column-to-row{
        height: 100%;
        min-height: 400px;
      }
      .tagline{
        display: inline-block;
        padding: .5rem 1rem;
        background: $primary-color-3;
        color: $primary-color-2;
      }
      h1{
        font-size: 3rem;
        margin: 1rem 0;
      }
      .hero-blurb-text{
        margin: 1rem 0;
        font-size: 1.5rem;
      }
      .social-icons{
        float: left;
        color: $primary-color-3;
        font-size: 1.5rem;
      }
      .follow-us-text{
        display: inline-block;
        font-size: 1rem;
        margin: .5rem 0;
      }
      .fab{
        margin: .25rem;
      }
      .filled-button{
        padding: .78rem 3rem 1rem;
        background: $primary-color-2;
        color: $primary-color-3;
      }
      ::placeholder{
        color: rgb(150, 150, 150);
      }
      @media (min-width: $tablet){
        height: 100vh; 
        h1{
          font-size: 4rem;
        }
        .flex-1-12{
          align-self: flex-end;
          float: right;
        }
        .hero-heading-align{
          max-width: 600px;
          align-self: center;
          margin: 0 0 0 10rem;
        }
        .social-icons{
          display: inline;
          writing-mode: vertical-lr;
          float: right;
          margin: 10rem 2rem;
        }
        .follow-us-text{
          transform: rotate(-180deg);
          display: inline-block;
          margin: 1rem 0 0;
          font-size: 1rem;
          display: none;
        }     
        form{
          position: absolute;
          bottom: 0;
          margin: 0 0 10rem;
        }
      }  
}