section.hero-16{
  background: $primary-color-1;
  color: $primary-color-3;
  .hero-content-wrapper{
      h1{
        font-size: 3rem;
        font-weight: bold;
      }
      .flex-9-12,
      .flex-3-12{
        padding: 1rem;
      }
      .flex-3-12{
        background: $primary-color-2;
      }
      .tagline{
        font-weight: 600;
        text-transform: uppercase;
        margin: 1rem 0;
      }
      .icon-container{
        margin: 1rem 0;
      }
      .icon{
        width: 60px;
        height: 60px;
        border-radius: 60px;
        background: $primary-color-3;
        display: inline-block;
        margin: 0 1rem 0 0;
      }
      .icon-text{
        vertical-align: top;
        display: inline-block;
      }
      .icon-text span{
        margin: .5rem 0 0;
        font-weight: 600;
        display: block;
        font-size: 1.5rem;
      }
      .image-placeholder{
        display: inline-block;
        background: $primary-color-1;
        width: 150px;
        height: 150px;
      }
      .image-placeholder-text{
        display: inline-block;
        width: 40%;
        vertical-align: top;
        margin: 0 0 0 1rem;
      }
      .show-all{
        text-transform: uppercase;
        margin: 1rem 0;
        font-weight: 600;
        display: block;
      }
      .image-placeholder-wrapper:nth-child(2){
        display: none;
      }
      @media (min-width: $tablet){
        height: 100vh;
        h1{
          max-width: 700px;
        }
        .icon-container{
          margin: 2rem 4rem 0 0;
          display: inline-block;
        }
        .flex-column{
          height: 100%;
        }
        .flex-9-12,
        .flex-3-12{
          margin: 0 0 0 10%;
        }
        .flex-3-12{
          padding: 2rem 3rem;
        }
        .top-wrapper{
          position: absolute;
          top: 40%;
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
        }
        .show-all{
          display: inline-block;
          vertical-align: top;
        }
      }
      @media (min-width: $desktop){
        .image-placeholder-wrapper,
        .image-placeholder-wrapper:nth-child(2){
          display: inline-block;
        }
      }      
  }
}