section.hero-15{
  background: $primary-color-1;
  color: $primary-color-3;
  min-height: 100vh;
  height: 100%;
  overflow-y: hidden;
      padding: 1rem;
    .hero-content-wrapper{
      
    }
      @media (min-width: $tablet){
      
      }  
      @media (min-width: $desktop){
        
      }
      @media (min-width: $oversized-desktop){
        
      }
}