section.grid-09{
  justify-content: space-around;
  .flex-column-to-row{
    justify-content: center;
  }
  .grid-item{
    margin: 1rem 0 2rem;
    text-align: left;
  }
  .grid-block{
    height: 100%;
    min-height: 200px; //remove min-height if not needed.  It is only here so we can see the div blocks in the mockup.
    background: $primary-color-3;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .grid-content-container{
    margin: 2rem;
  }
  img{
    object-fit: contain;
    min-height: 100%;
  }
  .grid-heading{
    font-size: 2rem;
    margin: 1rem;
  }
  .grid-sub-heading{
    font-size: 1rem;
    margin: 0 1rem 1rem;
  }
  @media (min-width: $tablet){
    .grid-item{
      width: 50%;
      margin: 10px;
    }
  }
  @media (min-width: $desktop){
          
  }
  @media (min-width: $oversized-desktop){
    
  }
}