section.grid-06{
  justify-content: space-around;
  .grid-item{
    margin: 1rem 0 2rem;
    text-align: left;
  }
  .grid-block{
    height: 100%;
    min-height: 200px; //remove min-height if not needed.  It is only here so we can see the div blocks in the mockup.
    background: $primary-color-3;
    overflow: hidden;
  }
  img{
    object-fit: contain;
    min-height: 100%;
  }
  .grid-heading{
    font-size: 1.5rem;
    margin: 1rem;
  }
  @media (min-width: $tablet){
    .grid-item{
      margin: 10px;
    }
    .grid-heading{
      margin: 1rem 0;
    }
  }
  @media (min-width: $desktop){
          
  }
  @media (min-width: $oversized-desktop){
    
  }
}