.flex-column{
  display: flex;
  flex-direction: column;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-column-to-row{
  display: flex;
  flex-direction: column;
  @media (min-width: $tablet){
      flex-direction: row;
    }
}

.flex-row-to-column{
  display: flex;
  flex-direction: unset;
  @media (min-width: $tablet){
      flex-direction: column;
    }
}

.flex-1-12{ flex: 1; }
.flex-2-12{ flex: 2; }
.flex-3-12{ flex: 3; }
.flex-4-12{ flex: 4; }
.flex-5-12{ flex: 5; }
.flex-6-12{ flex: 6; }
.flex-7-12{ flex: 7; }
.flex-8-12{ flex: 8; }
.flex-9-12{ flex: 9; }
.flex-10-12{ flex: 10; }
.flex-11-12{ flex: 11; }
.flex-12-12{ flex: 12; }