body{
  font-family: $primary-font;
  color: $primary-color-2;
}

h1{
  font-size: calc(3rem + 1vw); 
}

a{
  text-decoration: none;
  color: $primary-color-3;
}

.max-width{
  margin: 0 auto;
  max-width: 1440px;
}

.flip-vertical{
  display: inline;
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
}

span{
  display: block;
}

.filled-button{
  display: inline-block;
  background: $primary-color-3;
  color: $primary-color-2;
  text-decoration: none;
  padding: 1rem 3rem;
}


input{
  border: 0;
  padding: 1rem;
  margin: .25rem 0;
  width: 300px;
}