body{
  background-color: $primary-color-3;
  font-family: $primary-font;
  color: $primary-color-2;
}

h1{
  font-size: calc(3rem + 1vw); 
}

a{
  text-decoration: none;
  color: $primary-color-3;
}

.db{
  display: block;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
  outline: none;
}

.max-width{
  margin: 0 auto;
  max-width: 1140px;
}

.flip-vertical{
  display: inline;
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
}

.filled-button{
  display: inline-block;
  background: $primary-color-3;
  color: $primary-color-2;
  text-decoration: none;
  padding: 1rem 3rem;
}

.filled-button-dark-fixed{
  display: inline-block;
  text-align: center;
  max-width: 150px;
  color: $primary-color-3;
  border: 2px solid $primary-color-2; //the reason we have a border on the filled button is so when it is side by side with the unfille buttons, the heights stay the same.  This may or may not be the best solution
  background: $primary-color-2;
  text-decoration: none;
  padding: 1rem 3rem;
  height: fit-content;
}

.unfilled-button-fixed{
  display: inline-block;
  text-align: center;
  max-width: 150px;
  color: $primary-color-2;
  border: 2px solid $primary-color-2;
  text-decoration: none;
  padding: 1rem 3rem;
  height: fit-content;
}


input{
  border: 0;
  padding: 1rem;
  margin: .25rem 0;
  width: 300px;
}

.action-link{
  display: block;
  color: $primary-color-2;
}

