$primary-font: 'Lato', sans-serif;
$seconday-font: serif;

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;


h1{ font-size: 4rem; }
h2{ font-size: 3rem; }
h3{ font-size: 2.5rem; }
h4{ font-size: 2rem; }
h5{ font-size: 1.5rem; }
h6{ font-size: 1.25rem; }

.xxs-font-size { font-size: 1.2rem; line-height: 1.8rem; display: block;}
.xs-font-size { font-size: 1.4rem; line-height: 2rem; display: block;}
.s-font-size{ font-size: 1.6rem; line-height: 2.2rem; display: block;}
.m-font-size{ font-size: 1.8rem; line-height: 2.6rem; display: block;}
.xm-font-size{ font-size: 2rem; line-height: 3rem; display: block;}
.l-font-size { font-size: 2.5rem; line-height: 3.5rem; display: block;}
.xl-font-size { font-size: 3.5rem; line-height: 4.5rem; display: block;}
.xxl-font-size { font-size: 4.5rem; line-height: 5.5rem; display: block;}
.xxxl-font-size { font-size: 5.5rem; line-height: 6.5rem; display: block;}

