$primary-font: 'Lato', sans-serif;
$seconday-font: serif;

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;


h1{ font-size: 4rem; }
h2{ font-size: 3rem; }
h3{ font-size: 2.5rem; }
h4{ font-size: 2rem; }
h5{ font-size: 1.5rem; }
h6{ font-size: 1.25rem; }

//old font class that some of the designs may still rely on.
.xs-font-size { font-size: 9rem; line-height: 1.25rem; display: block;}
.s-font-size{ font-size: 1.1rem; line-height: 1.6rem; display: block;}
.m-font-size{ font-size: 1.25rem; line-height: 1.75rem; display: block;}
.xm-font-size{ font-size: 1.5rem; line-height: 2rem; display: block;}
.l-font-size { font-size: 2rem; line-height: 2.5rem; display: block;}
.xl-font-size { font-size: 3rem; line-height: 3.5rem; display: block;}


//new way of doing font sizes
.f-size-10{ font-size: 0.625rem; }
.f-size-12{ font-size: 0.75rem; }
.f-size-13{ font-size: 0.8125rem; }
.f-size-14{ font-size: 0.875rem; }
.f-size-16{ font-size: 1rem;}
.f-size-18{ font-size: 1.125rem; }
.f-size-20{ font-size: 1.25rem; }
.f-size-22{ font-size: 1.375rem; }
.f-size-24{ font-size: 1.5rem; }
.f-size-25{ font-size: 1.5625; }
.f-size-26{ font-size: 1.625rem; }
.f-size-28{ font-size: 1.75rem; }
.f-size-30{ font-size: 1.875rem; }
.f-size-32{ font-size: 2rem; }
.f-size-34{ font-size: 2.125rem; }
.f-size-36{ font-size: 2.25rem; }
.f-size-38{ font-size: 2.375rem; }
.f-size-40{ font-size: 2.5rem; }
.f-size-42{ font-size: 2.625rem; }
.f-size-44{ font-size: 2.75rem; }
.f-size-46{ font-size: 2.875rem; }
.f-size-48{ font-size: 3rem; }
.f-size-50{ font-size: 3.125rem; }
.f-size-52{ font-size: 3.25rem; }
.f-size-54{ font-size: 3.375rem; }


.lh-10{ line-height: 0.625rem; }
.lh-12{ line-height: 0.75rem; }
.lh-13{ line-height: 0.8125rem; }
.lh-14{ line-height: 0.875rem; }
.lh-16{ line-height: 1rem; }
.lh-18{ line-height: 1.125rem; }
.lh-20{ line-height: 1.25rem; }
.lh-22{ line-height: 1.375rem; }
.lh-24{ line-height: 1.5rem; }
.lh-26{ line-height: 1.625rem; }
.lh-25{ line-height: 1.5625rem; }
.lh-28{ line-height: 1.75rem; }
.lh-30{ line-height: 1.875rem; }
.lh-32{ line-height: 2rem; }
.lh-34{ line-height: 2.125rem; }
.lh-36{ line-height: 2.25rem; }
.lh-38{ line-height: 2.375rem; }
.lh-40{ line-height: 2.5rem; }
.lh-42{ line-height: 2.625rem; }
.lh-44{ line-height: 2.75rem; }
.lh-45{ line-height: 2.8125rem; }
.lh-46{ line-height: 2.875rem; }
.lh-48{ line-height: 3rem; }
.lh-50{ line-height: 3.125rem; }
.lh-52{ line-height: 3.25rem; }
.lh-54{ line-height: 3.375rem; }




.uc{
  text-transform: uppercase;
}