section.features-with-photo-17{
  background: $primary-color-3;
  .flex-column-to-row{
    margin: 0 auto;
  }
  .material-icons{
    font-size: 3rem;
    margin-right: 1rem;
  }
  .flex-6-12{
    align-self: center;
    &:first-child{
      padding: 2rem 1rem;
    }
    &:nth-child(2){
      padding: 0 0 0 2rem;
    }
  }
  .xl-font-size{
    font-weight: 700;
  }
  img{
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .flex-row{
    margin: 0 0 2rem;
  }
  .icon-section{
    margin-top: 2rem;
  }
  .m-font-size{
    font-weight: 900;
    margin-bottom: .5rem;
  }

  @media (min-width: $tablet){
    padding: 4vh 0 0;
  }  
  @media (min-width: $desktop){ 
    .content-wrapper{
      margin: 0 auto;
      padding: 0 6vw;
      max-width: 800px;
    }
  }
  @media (min-width: $oversized-desktop){   
  }
}