section.features-with-photo-01{
  padding: 1rem 0;
  span{
    
  }
  .flex-column{
    margin: 0 auto;
  }
  img{
    width:100%;
    height: 300px;
    object-fit: cover;
  }
  .l-font-size{
    margin: 1rem 0;
  }
  .flex-4-12{
    margin: 1rem 0;
    &:first-child{
      text-align: center;
    }
    &:first-child{
      padding: 1rem;
    }
  }

  .flex-item{
    margin: 1rem;
  }

  .material-icons{
    font-size: 3rem;
    padding: 0 1rem 0 0;
  }


  @media (min-width: $tablet){
    .flex-item{
      margin: 1rem 2rem 1rem 0;
    }
  }  
  @media (min-width: $desktop){   
  }
  @media (min-width: $oversized-desktop){   
  }
}