section.features-with-photo-12{
  background: $primary-color-3;
  .flex-column-to-row{
    margin: 0 auto;
  }
  .material-icons{
    font-size: 1.5rem;
    margin: 1rem 1rem 0 0;
  }
  .flex-6-12{
    align-self: center;
    &:nth-child(2){
      padding: 1rem;
    }
  }
  img{
    width: 100%;
    height: auto;
    max-height: 700px;
    object-fit: cover;
  }
  span{
    margin: 1rem 0;
  }

  @media (min-width: $tablet){
    .flex-6-12{
      &:nth-child(2){
        padding: 0 10vw;
      }
      flex-basis: 50%;
    }
  }  
  @media (min-width: $desktop){   
  }
  @media (min-width: $oversized-desktop){   
  }
}