section.content-with-photo-22{
  background: $primary-color-3;
  padding: 2rem 1rem;
    .flex-column-to-row{
      margin: 0 auto;
    }
      .flex-item{
        img{
          width: 70%;
        }
        &:nth-child(2){
          padding: 0 1rem;
        }
        span{
          margin: 1rem 0;
        }
        a{
          font-weight: bold;
          margin: 2rem 0 0;
        }
      }
      .flex-row{
        justify-content: space-between;
        .column{
          width: 45%;
        }
      }
  @media (min-width: $tablet){
    .flex-column-to-row{
      padding: 2vw 5vw;
    }
      .flex-item{
        &:nth-child(1){
          flex: 1;
        }
        &:nth-child(2){
          flex: 1;
          margin: 0 auto;
          align-self: center;
        } 
        img{
          width: 100%;
          float: right;
          padding-left: 0;
        }
        .content-wrapper{
          padding-left: 6vw;
        }
      }   
  }  
  @media (min-width: $desktop){
      
  }
  @media (min-width: $oversized-desktop){
      
  }
}