section.content-14{
    background: $primary-color-3;
    padding: 2rem 1rem;
      .flex-column-to-row{
        max-width: 1200px;
        margin: 0 auto;
      }
      .l-font-size,
      .xs-font-size{
        display: inline-block;
      }
      .s-font-size{
        margin: .5rem 0 2rem;
      }
    @media (min-width: $tablet){
      .s-font-size{
        margin: 0;
        padding: 0 4vw 0 2vw;
      }
    }  
    @media (min-width: $desktop){
        
    }
    @media (min-width: $oversized-desktop){
        
    }
}