section.content-02{
    background: $primary-color-3;
    padding: 2rem 1rem;
      .flex-column-to-row{
        max-width: 1000px;
        margin: 0 auto;
      }
      .flex-item-1{
        flex: 1;
        margin: 1rem;
      }
      .flex-item-2{
        flex: 3;
        margin: 1rem;
      }
    @media (min-width: $tablet){

    }  
    @media (min-width: $desktop){
        
    }
    @media (min-width: $oversized-desktop){
        
    }
}