section.products-14{
  text-align: left;  
  span{
    display: block;
    margin: 0 0 1rem;
  }
  .action-link{
    display: inline-block;
    margin: 1.5rem 2rem 0 0;
  }
  .flex-column{
    margin: 0 auto;
  }
  .flex-12-12{
    background: $primary-color-3;
  }
  .grid-img{
    min-width: 100%;
  }
  .content-wrapper{
    text-align: left;
    margin: 10vh 6vh;
  }

  @media (min-width: $tablet){
    .content-wrapper{
      width: 33%;
    }
  }
  @media (min-width: $desktop){
          
  }
  @media (min-width: $oversized-desktop){
    
  }
}